{% extends 'adminapp/shared/base.html' %}
{% block content %}
<u><h1 style="padding-top: 50px; padding-left: 350px;">Room Details</h1></u>
<div style="padding-top: 30px;">

<table class="table  table-hover table-striped table-bordered table-dark"  >
    <thead>
        <tr class="table-active">
            <th>Room ID</th>
            <th>Room No</th>
            <th>Description</th>
            <th>AC Status</th>
            <th>Room Type</th>
            <th>Bed Type</th>
            <th>rate</th>
            <th>Image</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for j in  i %}
            <tr>
                <td>{{j.id}}</td>
                <td>{{j.rno}} </td>
                <td>{{j.des}}</td>

                <td> {% if j.ac %}
                      AC
                   {% else %}
                   Non AC
                   {% endif %}</td>

                <td>{{j.roomtype}}</td>
                <td>{{j.bedtype}}</td>
                <td>{{j.rate}}</td>
                <td>{{j.image}}</td>
                <td>  {% if j.ac %}
                       Available
                 {% else %}
                 Not available
                 {% endif %}</td>
                 <td>
                 <a href="{% url 'upadate_room' j.id %}" class="btn btn-warning btn-sm">update</a>
                 <a href="{% url 'delete_room' id=j.id %}" class="btn btn-danger btn-sm">delete</a>
                 </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


    {% endblock content %}