<!-- signup.html -->

{% extends 'account/shared/base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'css/signup.css' %}" rel="stylesheet">  

    <form method="post">
        {% csrf_token %}
        <div class="form-group" style="color: rgb(228, 235, 236); ">
         <h1 style="padding-left: 300px; padding-top: 20px; padding-bottom: 20px;">SIGNUP</h1><br>
      
          <label><b> First name:</b></label>
          <input type="text" placeholder="Enter firstname" name="fname" id="fname" required>
    
      
          <label><b> Last name: </b></label>
          <input type="text"  placeholder="Enter lastname" name="lname" id="lname" required><br><br>

          <label><b> age:</b></label>
          <input type="number"  name="age" placeholder="Enter age" >
  
          <label><b> Address:  </b></label>
          <textarea name="address" id="address" cols="30" rows="3"></textarea><br><br>
  
          <label><b> Adhar No: </b></label>
          <input type="text" name="adhar" placeholder="adhar" required maxlength="12">
  
          
  
          <label><b> Email Id:</b></label>
          <input type="email" name="email" placeholder="Email" required ><br><br>
  
          <label><b> Mobile No:</b></label>
          <input type="number" name="mobileno" placeholder="Mobile Number" required maxlength="10"><br><br>
  
          <label><b> Username:</b></label>
          <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
  
          <label><b>Password:</b></label>
          <input type="password" name="pswd" placeholder="Enter Password" required ><br><br>
    
        
          
          </div>
          <div  style="padding-left:300px">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
            <a href="/" class="pass h5 text-info">Already have an account?Login</a></div>

    </form>
      

 {% endblock %}

